@media (max-width:500px) {
    .expense_logo img{
        max-height: 100px;
    }
    .expense_logo h2{
        font-size: 18px;
    }
    .expense_input{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        place-items: center;
    }
    .expense_input input{
        width: 200px;
        text-align: center;
    }
    .categories_type_card{
        padding: 7px;
        margin: 5px;
    }
    .categories_type_card img{
        max-height: 30px;
    }
    .expense_history_item{
        font-size: 14px;
        padding: 7px;
    }
    .input_btn button{
        font-size: 17px;
    }
}